*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Tilt Neon'
}

:root{
    --background:#f98c92;
    /*--primary:;*/
    --secondary:#ffc7c9;

    /* text colors*/
    --text-navbar: #c4343c;
    --text-main: #992027;
}

/* BODY */

body{
    background-color: var(--background);
    background-image: url(./fondo-main.png);

}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

/* HEADER */

header{
    background: var(--secondary);
    width: 100%;
    height: 75px;
    padding: 0px 30px;
}

.logo{
    max-width: 100px;
}

/* FORM */

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    opacity: 0.6;
    border-radius: 8px;
    padding: 30px 30px;
    gap: 10px;
}

.login{
    padding: 40px 50px;
}

.login_button{
    display: flex;
    margin: 18px 0;
    gap: 18px;
}
.insert_text{
    border: none;
    border-radius: 6px;
    padding: 5px;
}

.checkbox{
    display: flex;
    gap: 10px;
}

.button_enviar{
    background: var(--background);
    border-radius: 10px;
    padding: 5px 10px;
}

.button_enviar a{
    color: black;
}




@media (max-width:576px){
    form{
        margin: 30px;
    }
}